<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section><div class="align-center ml-10">
            <div class="container p-5 align-center">
                <div class="row">
                    <div class="col-md-6 offset-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="container text-center"><h1> register here </h1></div>
                                <div class="container "th:if="${session.messge }"><div class="alert alert-danger" role="alert">
 <th:block th:text="${session.messege}"></th:block>
</div></div>
                               <form action="" th:action="@{/send}" method="post">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="text-center"><button type="submit" class="btn btn-info">Send OTP</button></div>
  </form>
                                </div></div></div></div></div></div>
</section>
</body>
</html>