<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base1::layout(~{::section})">

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section>

<div class="card card me-2 ms-2">
<div class="card-body" th:if="${contact}">
<div class="container text-center"> <img th:src="@{'/image/' + ${contact.image}}" class="mypic" />
<h3 class="mt-3"><span th:text="${contact.name}"></span></h3>
<table class="table"> 
                    <thead>
                        <tr>
                           
                            <th scope="col">Email</th>
                            <td scope="col"><span th:text="${contact.cid}"></span></td>
                            </tr>
                             </thead>
                    <tbody>
                        <tr>
                         
                          
                            <th scope="col">Work</th>
                            <td scope="col"><span th:text="${contact.work}"></span></td>
                        </tr>
                          <tr>
                            <th scope="col">Phone</th>
                            <td scope="col"><span th:text="${contact.phone}"></span></td>

</tr>
 <tr>
                            <th scope="col">Discription</th>
                            <td scope="col"><span th:text="${contact.description}"></span></td>

</tr>
</tbody>
</table><a th:href="@{'/user/delete'+${contact.cid}}" type="button" class="btn btn-danger">Delete</a>
                                <button type="button" class="btn btn-warning">Update</button>
                                
</div>
	</div>

<h1 class="text-center bg-danger" th:unless="${contact}">You Dont have permission</h1></div>
</section>

</body>
</html>